altgraph==0.17
auto-py-to-exe==2.6.6
bottle==0.12.18
bottle-websocket==0.2.9
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cssselect2==0.2.2
defusedxml==0.6.0
dominate==2.4.0
Eel==0.11.0
Flask==1.1.1
Flask-Cors==3.0.8
flask-marshmallow==0.10.1
Flask-SQLAlchemy==2.4.1
fpdf==1.7.2
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
html5lib==1.0.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
marshmallow==3.2.2
marshmallow-sqlalchemy==0.19.0
numpy==1.18.1
pandas==1.0.1
pdfkit==0.6.1
pefile==2019.4.18
Pillow==6.2.1
pipenv==2018.11.26
praw==6.5.1
prawcore==1.0.1
pycparser==2.19
PyInstaller==3.6
PyPDF2==1.26.0
Pyphen==0.9.5
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
requests==2.22.0
rope-py3k==0.9.4.post1
six==1.14.0
SQLAlchemy==1.3.11
tinycss2==1.0.2
update-checker==0.16
urllib3==1.25.8
video-indexer==0.1.6
virtualenv==16.7.8
virtualenv-clone==0.5.3
WeasyPrint==50
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.0
whichcraft==0.6.1
xlrd==1.2.0
